@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap300, 400, 500, 600, 700, 800, 900');


/* ------------------------------------- Background gradient */
html {
  background: radial-gradient(#D0D7DD, #4c5c68) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* ------------------------------------- styles the word 'moves' */
body {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto Slab', serif;
    color: #404e58;
    font-size: 17px;

}

/* ------------------------------------- Main title of game / Logo */
.logo {
    font-family: 'Roboto Slab', serif;
    margin: 25px 30px;
    padding-left: 40px;
    text-align: left;
    color: #c5c3c6;
    font-size: 4em;
}

/* ------------------------------------- Cards and card-flip transition */
.memory-game {
    width: 1170px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
    padding-top: 25px;
}

.card {
    width: calc(12% - 6px);
    height: calc(50% - 6px);
    margin: 3px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active {
    transform: scale(.95);
    transition: transform .3s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

/*-------------------------------------- Timer, stars and moves counter */

.timer {
	/*display: inline-block;*/
    margin-left: 80px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    justify-content: left;
    display: inline-block;
    padding-right: 50px;
    
}

.score-panel {
	text-align: right;
    padding-right: 100px;
    font-size: 25px;
}

.score-panel .stars {
	padding: 0;
    display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.fa-star {
	color: #95ddee;
}


.moves {
    font-family: 'Roboto Slab', serif;
}

/* ------------------------------------- Back to start button */
.center-button {
    text-align: center;
    padding-top: 15px;
}

.button {
    background-color: #95ddee;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    border-radius: 20px;
    font-size: 1em;
    padding: 15px 20px;
    justify-content: center;
    margin: 500px;
    color: #4c5c68;
}

.button:hover {
    background-color: #c5c3c6;
}

/* ------------------------------------- Media Queries */
/* ------------------- Mobile Devices */
@media (max-width: 575px) {

    .memory-game {
    width: 100%;
    height:100%;
    }

    .card {
    width: 125px;
    height: 175px;
    margin: 3px;
    }

    .logo {
    margin: 12px 0 12px 0;
    padding-left: 0px;
    text-align: center;
    font-size: 40px;
    }

    .timer {
        margin-right: 10px;
        text-align: center;
    }

    .score-panel {
        padding: 0px;
        text-align: center;
        margin-bottom: 12px;
    }

    .button {
        margin: 0;
    }

    .popup {
		width:75%;
	}

}

/* ------------------- Tablet Devices */
@media screen and (max-width: 900px) and (min-width: 576px) {

    .memory-game {
    width: 80%;
    height: 100%;
    padding: 0; 
    }

    .card {
    width: 125px;
    height: 175px;
    margin: 3px;
    }

    .logo {
    margin: 12px 0 12px 0;
    padding-left: 0px;
    text-align: center;
    font-size: 55px;
    }

    .timer {
        margin-right: 50px;
        text-align: center;
        padding-left: 50px;
    }

    .score-panel {
        padding: 0;
        text-align: center;
        margin-bottom: 12px;
    }

    .button {
        margin: 0;
    }

     .popup {
		width:75%;
	}

}
/* ------------------- Larger tablet (iPad Pro) devices and screens */
@media screen and (max-width: 1024px) and (min-width: 901px) {
    .memory-game {
    width: 90%;
    height: 100%;
    }

    .card {
    width: 125px;
    height: 175px;
    margin: 3px;
    }

    .logo {
    margin: 12px 0 12px 0;
    padding-left: 0px;
    text-align: center;
    font-size: 55px;
    }

    .timer {
        margin-right: 50px;
        text-align: center;
        padding-left: 50px;
    }

    .score-panel {
        padding: 0;
        text-align: center;
        margin-bottom: 12px;
    }

    .button {
        margin: 0;
    }


}

/* ------------------------------------- Game complete pop-up modal */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: radial-gradient(#D0D7DD, #4c5c68);
	border-radius: 40px;
	width: 40%;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Roboto Slab', serif;
    color: #4c5c68;
}

.logo-modal {
    color: #95ddee;
    text-align: center;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #95ddee;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}
