@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap300, 400, 500, 600, 700, 800, 900');

html {
    height: 100%;
}
body {
    background: radial-gradient(#D0D7DD, #4c5c68);
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #c5c3c6;
    font-size: 4em;
}

.card {
    display: inline-block;
    width: 125px;
    height: 175px;
}

.responsive {
    width: 100%;
    height: auto;
}

.row {
    text-align: center;
}